
/* Group */
h1,
h2 {
  color: blueviolet;
}

/* Child */
.box > p {
  color: firebrick;
}

/* Descendent */
.box li {
  color: blue;
}

/* Chained */
li.done {
  color: green;
}

/* Multiple Combiners */
ul p.done {
  font-size: 0.5rem;
}








































































































































































































































































































































































span{
  position: absolute;
  font-size: 2.5rem;
  color:#000;
  opacity: 0.4;
  bottom: 5px;
  left: 40%;
}
